*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: black;
}
button{
    background-color: beige;
    color: black;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 5px;
    border: solid black ;
}